h1,
h2,
h3,
p {
  font-family: "Verdana";
  text-align: center;
}

body {
  background-color: black;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

h3 {
  font-weight: normal;
  font-size: 21px;
  color: gray;
}

p {
  font-weight: normal;
  font-size: 16px
  color: aquamarine;
}

.videophone {
  text-align: center;
}

.camping {
  text-align: center;
}

.mini {
  text-align: center;
}

a:visited {
    color: aquamarine;
}

#footer {
  text-align: right;
}
